body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
    border: 1px solid #BABABA;
}
a {
    text-decoration: none;
}
#header {
    width: 100%;
    height: 100px;
    background: #303030;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #BABABA;
}
#menu {
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}
#menu a {
    color: #FFFFFF;
}
nav {
    display: flex;
}
#header button {
    margin-right: 10%;
    background: #0C70F2;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    border: 0;
    width: 80px;
    height: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
#menu a:hover {
    color: #cccccc;
}
#textCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
header h2 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}    
header h1{
    font-family: 'Inter';
    font-style: normal;
    font-size: 80px;
    line-height: 97px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}
span {
    background-color: black;
    font-weight: bold;
    padding: 5px;
}
form {
    font-family: 'Inter';
    font-style: normal;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    width: 50%;
}
.formGruop {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
form input{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 0;
    height: 30px;
    font-size: 20px;
    padding: 10px;
}
#box {
    display: flex;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    justify-content: space-between;
}
#box input[type="checkbox"] {
    background: #FFFFFF;
    border: 2px solid #CCCCCC;
    width: 15px;
    height: 15px;
    margin-right: 0;
}
form input#buttonLogin {
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    width: 100%;
    height: 52px;
    margin-top: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    cursor: pointer;
}
footer {
    background: #0C70F2;
    border: 0;
}
footer .line1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .line1 ul li {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer .line1 h3 {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    background: #303030;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 15px;
}
footer .line1 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .line1 ul li a {
    color: #FFFFFF;
}
footer .line1 ul li a:hover {
    color: #BABABA;
} 
footer #address {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
footer .line2{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 5px;
}
footer .line2 a{
    font-family: 'Inter';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px;
}
footer .line2 a:hover{
    color: #BABABA;
}
footer .line2 a:first-child{
    border-right: 2px solid #FFFFFF;
}
@media only screen and (max-width: 600px) {
/* Cabeçalho*/
    #header{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    #menu a{
        height: 50px;
        align-items: center;
    }
    #header button{
        width: 100%;
        margin: 0;
    }
/* seção*/
    section h1{
        font-size: 38px;
    }
    section h2{
        font-size: 25px;
    }
    form{
        width: 85%;
        font-size: 20px;
    }
    form #box{
        font-size: 15px;
    }
    footer .line1{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
}